body {
  font-size: 14px;
  background-image: url('/static/background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.container {
  padding-top: 20px; /* add a top padding of 20px to create a gap */
}

.navbar {
  font-size: 15px;
  opacity: 0.9;
  z-index: 1;
  background-image: linear-gradient(
    to right,
    rgba(255, 184, 140, 0.85),
    transparent,
    transparent,
    rgba(222, 98, 98, 0.85)
  );
  color: #ffffff;
  padding: 5px;
  margin-top: 20px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

table {
  z-index: 0;
  background-color: white;
  opacity: 0.95;
}

table td,
table th {
  font-size: 14px;
}

table tbody tr td {
  vertical-align: middle;
}

.card {
  height: 450px;
  opacity: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-hover:hover {
  transform: translateY(-0.25rem) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-title {
  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);
  opacity: 0.85;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-text {
  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.85;
  color: #ffffff;
  padding: 10px;
  margin: 0;
}

.btn.bg-gradient-primary {
  background: #de6262 !important;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262) !important;
  background: linear-gradient(to right, #ffb88c, #de6262) !important;
  opacity: 0.85 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.form-control:hover {
  transform: translateY(-0.25rem) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn.bg-gradient-primary:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background: #ffb88c;
}
