{% extends "base.html" %} {% block content %}
<div class="container">
  {% if message %}
  <div
    class="alert alert-{{ alert_type }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <form
    method="POST"
    action="{% url 'delete_ingredient' %}"
    id="add-ingredient-form"
  >
    {% csrf_token %}
    <div class="form-floating col-sm-6 mx-auto mb-3">
      <input
        type="text"
        class="form-control"
        id="ingredient"
        placeholder="Ingredient"
        name="ingredient"
        form="add-ingredient-form"
      />
      <label for="ingredient">Ingredient</label>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button
        type="submit"
        class="btn bg-gradient-primary"
        form="add-ingredient-form"
      >
        Delete Ingredient
      </button>
    </div>
  </form>
</div>
{% endblock %}
