<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stockControl/stockWebApp/templates/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Stock Control</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="col text-center">
        <h1><u>Stock Control</u></h1>
        <button type="button" class="btn btn-secondary mt-5 mr-2 shadow-button">
          Ingredients
        </button>
        <button type="button" class="btn btn-secondary mt-5 mr-2 shadow-button">
          Recipes
        </button>
        <button type="button" class="btn btn-secondary mt-5 mr-2 shadow-button">
          Stock Entry
        </button>
        <button type="button" class="btn btn-secondary mt-5 mr-2 shadow-button">
          Wastage
        </button>
        <button type="button" class="btn btn-secondary mt-5 mr-2 shadow-button">
          Ordering
        </button>
      </div>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Ingredient</th>
            <th>Pack Size (g)</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in ingredients %}
          <tr>
            <td>{{ ingredient.product_code }}</td>
            <td>{{ ingredient.ingredient }}</td>
            <td>{{ ingredient.pack_size }}</td>
            <td>{{ ingredient.price_per_pack }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
