{% extends "base.html" %} {% block content %}
<br />
<h1>Recipes:</h1>
<br />
<br />
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for recipe in recipe_data %}
    <div class="col">
      <div class="card h-100">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">Code: {{ recipe.code }}</p>
            <ul class="list-group list-group-flush">
              {% for ingredient, quantity in recipe.ingredients.items %}
              <li class="list-group-item">{{ ingredient }}: {{ quantity }}g</li>
              {% endfor %}
            </ul>
            <p class="card-text">
              Cost: {{ recipe.recipe_cost|floatformat:2 }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
