{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="col text-center">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Ingredient</th>
          <th>Pack Size (g)</th>
          <th>Price</th>
          <th>In Stock (g)</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.product_code }}</td>
          <td>{{ ingredient.ingredient }}</td>
          <td>{{ ingredient.pack_size }}</td>
          <td>{{ ingredient.price_per_pack }}</td>
          <td>{{ ingredient.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
